* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-signin {
  background-color: red;
  border-radius: 5px;
  height: 40px;
  padding: 0 15px;
  color: white;
  border: 0;
  margin: 0 5px
}

body {
  background-color: black;
}

.movie-card {
  border: 1px solid black;
  width: 15vw;
  height: 35vh;
  border-radius: 1vw;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 200px;
  max-width: 250px
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px)); /* Adjust the min and max width as needed */
  gap: 10px;
  justify-content: center;
}